{% extends "layout/main.twig" %}

{% block body %}

    {% include "layout/navigation.twig" %}

    <div class="container">
        <h1 class="display-1">Music</h1>
        {% for folder in folders %}
        <div class="jumbotron bg-light py-4 shadow-box" id="music_folder_{{ folder.title }}">
            <h3 class="display-4">{{ folder.title }}</h3>

            {% for music in folder.children %}
            <div class="youtube-music row my-2">
                <div class="col-auto d-md-block d-none">

                    {% if music.thumbnail %}
                    <img src="{{ music.thumbnail }}" class="music-thumbnail img-fluid" style="width:75px;">
                    {% else %}
                    <img src="/images/youtube_social_icon_red.png" class="music-thumbnail img-fluid" style="width:40px;">
                    {% endif %}

                </div>
                <div class="col">
                    <div class="row">
                        <div class="col p-0">
                            <a href="{{ music.uri }}">{{ music.title }}</a>
                            <p class="text-secondary">{{ music.channel }}</p>
                        </div>
                        <p class="col-auto d-md-block d-none">{{ music.duration }}</p>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
        {% endfor %}
    </div>

{% endblock %}